@{
    ViewBag.Title = "Companies";
}

<h2>Companies</h2>

<button class="btn btn-primary btn-sm" data-bind="click: add">New</button>
<table id="companies" class="table table-striped table-hover ">
	<thead>
		<tr>
			<th>Name</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody data-bind="foreach: items">

		<tr class="form-group">
			<td><input type="text" class="form-control input-sm" data-bind="value: name"></td>
			<td><input type="text" class="form-control input-sm" data-bind="value: description"></td>
			<td><a data-bind="attr: { href: '@Url.Action("Buildings", "Home")/' + id() }" class="btn btn-info btn-sm">Buildings</a></td>
			<td><a data-bind="attr: { href: '@Url.Action("Leases", "Home")/' + id() }" class="btn btn-info btn-sm">Leases</a></td>
		    <td>
		        @Html.Partial("_DeleteButton")
		    </td>
		</tr>
	</tbody>
</table>

@section Scripts {
    <script>
        $(function() {
            var viewModel = new propertyManager.ViewModel('@Url.RouteUrl("companies", new {httproute = ""})', { "name": "New Company" });
            viewModel.get(function() {
                ko.applyBindings(viewModel);
            });
        });
    </script>
}