@using MvcApplication.Controllers.Api
@using MvcApplication.Models
@{
    ViewBag.Title = "Tenants";
}

<h2>Tenants</h2>
@Html.Partial("_Toolbar")
@Html.Partial("_TenantsGrid")

@section Scripts {
	<script>
		$(function () {
			var viewModel = new propertyManager.ViewModel('@Url.RouteUrl("tenants", new {httproute = ""})', { "firstName": "New Tenant" });
			viewModel.get(function() {
				ko.applyBindings(viewModel);
			});
		});
	</script>
}