@{
    ViewBag.Title = "Tenants";
}

<h2>Tenants</h2>
Search <input type="text" id="search"/> <input type="button" value="Search" data-bind="click: function() { search($('#search').val()) }"/>
<br/>
<br/>
@Html.Partial("_Toolbar")
@Html.Partial("_TenantsGrid")

@section Scripts {
	<script>
		$(function () {
			var viewModel = new propertyManager.ViewModel('@Url.RouteUrl("tenants", new {httproute = ""})', { "firstName": "New Tenant" });
			viewModel.get(function() {
				ko.applyBindings(viewModel);
			});
		});
	</script>
}