@{
    ViewBag.Title = "Tenants";
}

<h2>Tenants</h2>
<div class="form-group">
	<div class="input-group col-lg-2">
		<input type="text" class="form-control input-sm" style="width: 250px;" id="search" placeholder="Search">
		<span class="input-group-btn">
			<button class="btn btn-primary btn-sm" style="margin-right: 10px;" value="Search" data-bind="click: function() { search($('#search').val()) }">Search</button>
		</span>
	</div>
	
</div>

	<br />
	<br />
	@Html.Partial("_Toolbar")
	@Html.Partial("_TenantsGrid")

	@section Scripts {
		<script>
			$(function () {
				var viewModel = new propertyManager.ViewModel('@Url.RouteUrl("tenants", new {httproute = ""})', { "firstName": "New Tenant" });
				viewModel.get(function () {
					ko.applyBindings(viewModel);
				});

				$("#search").on("keydown", function (event) {
				    if (event.keyCode == 13) {
				        viewModel.search($("#search").val());
				    }
			    });
			});
		</script>
	}
